nav.navbar.navbar-expand.bg-primary
  ul.navbar-nav
    if user
      li.navitem
        h2 您好，#{user.nickname}!
        a.nav-link(href="/logout") 登出
    else
      li.navitem
        a.nav-link(href="/login") 登录
      li.navitem
        a.nav-link(href="/register") 注册