.card.mt-1
  h3.card-title 最近评论
  .row
    .col-12.col-md-8
      .card.mt-1
          ul.list-group
            each comment in recomments
              a(href=`/images/show/${comment.image}`)
                li.list-group-item 
                  .text-left= comment.comment
                  .text-right.text-muted= `${comment.nickname}(${comment.email})`