.card.m-1
  h3.card-title 统计信息
  .card-body.row
    .col-4 图片总量
    .offset-4.col-4= stats.numOfImages
    .col-4 赞的总量
    .offset-4.col-4= stats.numOfLikes
    .col-4 访问总量
    .offset-4.col-4= stats.numOfVisits
    .col-4 评论总量
    .offset-4.col-4= stats.numOfComments