extends layout

block content
  include includes/navbar.pug
  h1 图片分享
  .row
    .col-12.col-md-8
      .card.mt-1
        h3.card-title 上传图片
        .card-body
          if user
            form(action="/images/", method="post", enctype="multipart/form-data")
              .form-group.row
                label.col-sm-2 浏览
                input.col-sm-10.form-control-file(type='file',name='imgfile')
              .form-group.row
                label.col-sm-2 标题
                input.col-sm-8.form-control(type='text', name='title')
              .form-group.row
                label.col-sm-2 描述
                input.col-sm-8.form-control(type='text', name='description')
              .form-group.row
                .offset-md-8.col-sm-2
                  button.btn.btn-primary.btn-block(type='submit') 提交
          else
            .w-100.d-flex.justify-content-center.align-items-center(style="height: 200px")
              .d-inline-block
                | 登录以后可上传图片。
    .col-12.col-md-4
      include includes/stats.pug
      include includes/recomment.pug
  .row
    .col-12.col-md-8
      .row.mt-3
        each image in images
          .col-6.col-md-4
            a(href=`/images/show/${image._id}`)
              .card
                img.card-img-top(src=`/uploads/${image.diskfilename}`, alt=image.description)
                .card-body
                  p.card-text= image.title
  .row
    footer.footer.text-center(style='position: fixed;bottom: 0;left: 0;left: 0;width: 100%;height: 50px;line-height: 50px;background-color: #f5f5f5;') 软件161 许勤锋