doctype html
html
  head
    meta(name="viewport", content="initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      block content