extends layout

block content
  .d-flex.justify-content-center.align-items-center(style="height: 100vh")
    form(action="/login", method="post")
      .form-group.row
        label.col-4 用户名
        input.col-8.form-control(type="text", name="username")
      .form-group.row
        label.col-4 密码
        input.col-8.form-control(type="password", name="password")
      .row
        .col-4.offset-8
          button.btn.btn-primary.btn-block(type="submit") 登录
  .row
    footer.footer.text-center(style='position: fixed;bottom: 0;left: 0;left: 0;width: 100%;height: 50px;line-height: 50px;background-color: #f5f5f5;') 软件161 许勤锋