extends layout

block content
  h1= title
  .row
    .col-12.col-md-8
      .card.mt-1
        img.card-img-top(src=`/uploads/${diskfilename}`)
        .card-body         
          p= description
        .card-footer.d-flex.justify-content-between.align-items-center
          span 
            = likes ? likes : 0
            i.fa.fa-heart
          span= title
          button.btn.btn-primary#likes-btn(data-imageid=_id)
            i.fa.fa-heart-o
            | 赞
      .card.mt-1
        ul.list-group
          each comment in comments
            li.list-group-item 
              .text-left= comment.comment
              .text-right.text-muted= `${comment.nickname}(${comment.email})`

    .col-12.col-md-4
      include includes/stats.pug
      include includes/recomment.pug
  .row
    .col-12.col-md-8
      .card.mt-1
        .card-body
          form(action=`/comments/${_id}`, method="post")   
            .form-group.row
              label.col-12.col-md-2 邮箱
              input.col-12.col-md-10.form-control(type="email", name="email")
            .form-group.row
              label.col-12.col-md-2 用户昵称
              input.col-12.col-md-10.form-control(type="text", name="nickname")
            .form-group.row
              label.col-12.col-md-2 评论
              textarea.col-12.col-md-10.form-control(rows="5", name="comment")
            .form-group.row
              .offset-8.col-4
                button.btn.btn-primary.btn-block(type="submit") 保存
  .row
    footer.footer.text-center(style='position: fixed;bottom: 0;left: 0;left: 0;width: 100%;height: 50px;line-height: 50px;background-color: #f5f5f5;') 软件161 许勤锋
  script(src="/javascripts/show.js")